:root {
  --cor-principal: #104c91;
  --cor-secundaria: #1f8ac0;
  --cor-acento: #efc9af;
  --cor-background: #fbfbfe;
  --cor-texto: #050315;
  --shadow: 0 8px 24px rgba(5, 3, 21, 0.08);
  --radius-lg: 16px;
}

body {
  background-color: var(--cor-background);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 70vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--cor-background);
  border: 2px solid var(--cor-principal);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow);
  padding: 0px 25px;
  max-width: 700px;
  margin: 20px auto;

  @media (width <= 640px) {
    border: none;
    box-shadow: none;
  }
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0 10px 100px;
  padding-top: 10px;
}

.profile-img {
  width: 100px;
  height: auto;
  border: 1px solid black;
  border-radius: 20px;
}

label {
  margin-right: 10px;
  margin-bottom: 5px;
}

input {
  padding: 5px;
  border-radius: 10px;
  flex: 1;
}

button {
  margin-top: 50px;
  margin-bottom: 40px;
  background-color: var(--cor-secundaria) !important;
  color: #fff !important;
}

button:hover {
  background-color: var(--cor-principal) !important;
}
.footer-custom {
  background-color: var(--cor-principal);
  color: rgba(255, 255, 255, 0.5) !important;
  width: 100%;
}

.footer-custom .container {
  max-width: 960px;
  background-color: transparent;
}

.footer-custom .text-white-50 {
  color: rgba(255, 255, 255, 0.5) !important;
}

@media (max-width: 767.98px) {
  .footer-custom {
    padding-left: 15px;
    padding-right: 15px;
  }
}
.footer-fixed {
  bottom: 0;
  left: 0;
  width: 100%;
}