:root {
  --cor-primaria: #104c91;
  --cor-secundaria: #1f8ac0;
  --cor-acento: #efc9af;
  --cor-fundo: #ffffff;
  --cor-texto: #050315;
  --cor-texto-claro: #ffffff;
  --shadow: 0 8px 24px rgba(5, 3, 21, 0.5);
  --button-padding: 12px 0;
  --input-padding: 10px;
  --cor-borda-input: #ccc;
  --cor-input-fundo: #2b3a55;
  --cor-background-escuro: rgb(240, 240, 240);
}
.title {
  text-align: center !important;
  font-weight: bold;
  color: var(--cor-primaria);
  margin-bottom: 1rem; /* equivalente ao gutterBottom */
}
