:root {
  --cor-primaria: #104c91;
  --cor-secundaria: #1f8ac0;
  --cor-acento: #efc9af;
  --cor-background-suave: #fbfbfe;
  --cor-texto: #050315;
  --cor-fundo-card: #ffffff;
  --cor-borda-card: #e0e0e0;
}

.btn-primary-custom {
  background-color: var(--cor-primaria);
  border-color: var(--cor-primaria);
  color: white;
}

.btn-primary-custom:hover {
  background-color: var(--cor-background-suave);
  color: #050315;
  border-color: #000000;
}

.progress-bar {
  background-color: var(--cor-primaria) !important;
}

.star-rating {
  direction: rtl;
  display: inline-block;
}
.star-rating input {
  display: none;
}
.star-rating label {
  color: lightgray;
  transition: color 0.2s;
  cursor: pointer;
  direction: ltr;
}
.star-rating label:hover,
.star-rating label:hover ~ label {
  color: #ffc107;
}

.star-rating input:checked ~ label,
.star-rating input:checked + label:hover,
.star-rating input:checked + label:hover ~ label {
  color: #ffc107;
}
