:root {
  --cor-primaria: #104c91;
  --cor-secundaria: #1f8ac0;
  --cor-acento: #efc9af;
  --cor-background-suave: #fbfbfe;
  --cor-texto: #050315;
  --cor-fundo-card: #ffffff;
  --cor-borda-card: #e0e0e0;
}
