:root {
  --cor-primaria: #104c91;
  --cor-secundaria: #1f8ac0;
  --cor-acento: #efc9af;
  --cor-fundo: #ffffff;
  --cor-texto-claro: #ffffff;
  --cor-borda-input: #ccc;
  --cor-input-fundo: #2b3a55;
  --cor-background-escuro: rgb(240, 240, 240);
}

body {
  background-color: var(--cor-background-escuro);
}

.login-card {
  background-color: var(--cor-fundo) !important;
  color: var(--cor-primaria) !important;
  width: 100%;
  max-width: 350px;
  border-color: var(--cor-primaria);
  border-radius: 10px;
  border-width: 1.5px;
  padding: 0px 25px;
}

.card-title {
  font-family: 'Courier New', Courier, monospace;
}

.user-avatar {
  width: 100px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-color: var(--cor-secundaria) !important;
}

.form-label {
  color: var(--cor-primaria) !important;
}

.form-control {
  background-color: var(--cor-input-fundo) !important;
  border-color: var(--cor-primaria) !important;
  color: var(--cor-texto-claro) !important;
}

.form-control::placeholder {
  color: rgba(255, 255, 255, 0.6) !important;
}

.form-control:focus {
  border-color: var(--cor-secundaria) !important;
  box-shadow: 0 0 0 0.25rem rgba(31, 138, 192, 0.25) !important;
}

.btn-login-custom {
  background-color: var(--cor-secundaria) !important;
  border: none;
  border-radius: 30px;
  color: var(--cor-texto-claro) !important;
  transition: background-color 0.3s ease;
}

.btn-login-custom:hover {
  background-color: #1a719c !important;
}

.input-group-pass {
  position: relative;
}

#togglePassword {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(10%);
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  transition: color 0.2s;
}

#togglePassword:hover {
  color: var(--cor-texto-claro);
}

@media (min-width: 768px) {
  .login-card {
    max-width: 500px;
    padding: 60px 50px !important;
  }

  .user-avatar {
    width: 120px;
    height: 120px;
  }
}

.forgot-password-link {
  color: var(--cor-secundaria);
  font-size: 0.9em;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}

.forgot-password-link:hover {
  color: #1a719c;
  text-decoration: underline;
}

.recuperar-senha .login-card {
  max-width: 400px;
}
