body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #68696d;
  color: #ffffff;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 40px;
}

.bordas {
  border: 5px solid #fff;
  padding: 0.1px;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  max-width: 300px;
}
.input-group {
  width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  background-color: #ffffff;
  border: none;
  color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #ffffff;
  border: none;
  color: #68696d;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
  font-size: 16px;
}
