:root {
  --cor-primaria: #104c91;
   --cor-principal: rgb(16, 76, 145);
  --cor-secundaria: #1f8ac0;
  --cor-acento: #efc9af;
  --cor-fundo: #ffffff;
  --cor-texto-claro: #ffffff;
  --cor-borda-input: #ccc;
  --cor-input-fundo: #2b3a55;
  --cor-background-escuro: rgb(240, 240, 240);
}
.parentContainer {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.childrenContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.txtColor {
  background-color: var(--cor-principal);
  font-family: 'Roboto';
  font-size: large;
}

.link {
  color: rgb(255, 255, 255) !important;
}

.nome-desenvolvedor {
  color: white;
  user-select: none;
}

.nome-desenvolvedor:hover {
  text-decoration: underline;
}

.icon-img {
  width: 25px;
  height: 25px;
  margin-left: 7px;
}

.links-dev {
  display: flex;
  flex-direction: row;
}
