:root {
  --cor-primaria: rgb(249, 239, 226);
  --cor-principal: rgb(16, 76, 145);
  --cor-secundaria: rgb(31, 138, 192);
  --cor-acento: rgb(239, 201, 175);
  --cor-background: rgb(251, 251, 254);
  --cor-texto: rgb(5, 3, 21);
  --cor-texto-claro: #ffffff;
  --cor-borda-input: #ccc;
  --cor-input-fundo: #2b3a55;
  --cor-background-escuro: rgb(240, 240, 240);
}

.parentContainer {
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.childrenContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.txtColor {
  background-color: var(--cor-principal);
  font-family: 'Roboto';
  font-size: large;
}

.link {
  color: rgb(255, 255, 255) !important;
}

.nome-desenvolvedor {
  color: white;
  user-select: none;
}

.nome-desenvolvedor:hover {
  text-decoration: underline;
}

.icon-img {
  width: 25px;
  height: 25px;
  margin-left: 7px;
}

.links-dev {
  display: flex;
  flex-direction: row;
}
